@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    box-sizing: border-box;
}

header {
    background: #2a53ad;
    position: relative;
    height: 400px;
    background-image: url(../imagens/circuloODS&planeta.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

nav {
    position: absolute;
    display: inline-block;
    width: 100vw;
}

ul.menu {
    list-style-type: none;
    background: #22448cbf;
}

ul.menu li {
    display: inline-block;
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
}

ul.menu li ul.drop li {
    display: block;
}

ul.menu li ul.drop {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background: #22448c;
}

li a#hub-a::after {
    content: " ▾";
}

li a#hub-a:hover::after {
    content: " ▴";
}

.menu li a:hover {
    background: #112c66;
    font-weight: bold;
    border-top: 2px solid #01194dc9;
    border-bottom: 2px solid #01194dc9;
    transition-duration: 0.1s;
}

ul.menu li:hover ul.drop {
    display: block;
}