* {
    margin: 0px;
}
:root{
    --AzulClaro:#0678B8;
    --AzulMedio:#004E88;
    --AzulEscuro:#1E3464;
}
/*----HEADER----*/
header {
    display: flex;
    height: auto;
    justify-content: start;
    align-items: center;
    text-align: left;
    background-color: var(--AzulClaro);
}

.logo {
    width: 100px;
}

.Titulo {
    color: #fff;
}